mixin homeSection(type, pages)
  for page in pages
    .col-12.col-sm-6.col-md-4.col-lg-3.mb-4
      .card.p-2.border.border-primary
        img.card-img-top(src=`/s/img/${type}/${page.name}.png` alt=`${page.title}`)
        .card-body.bg-light.text-center
          h5.card-title #{page.title}
          a.btn.btn-primary(href=`/part/${type}/${page.name}.html`) Specs
          |
          |
          a.btn.btn-primary(href=`/s/stl/${type}/${page.name}.stl`)
            i.fas.fa-download
