extends layout

include inc/home-section

block content
  h1 Open Track

  p Printable toy track compatible with major wooden track makers. Plus extra goodies.

  //- h2 Quick Start

  //- p Download all of the STL files from here, then slice and print as you please.

  h2 Track

  .row
    +homeSection('track', site['/part/track/'].page)

  h2 Double

  .row
    +homeSection('double', site['/part/double/'].page)

  h2 OpenTrack Extensions

  .row
    +homeSection('opentrack-x', site['/part/opentrack-x/'].page)

  h2 Road

  .row
    +homeSection('road', site['/part/road/'].page)

  div.mt-3 !{self.html}
