extends layout

block content

  h1.mt-3 Track #{self.meta.title}

  .row

    .col-8

      img.rounded.mx-auto.d-block(src=`/s/img/${self.meta.specs.type}/${self.meta.name}.png`)

    .col-4

      h3 Specifications

      dl
        dt Type
        dd.pl-3= self.meta.specs.type
        if self.meta.specs.brio
          dt Bio
          dd.pl-3= self.meta.specs.brio
        if self.meta.specs.length
          dt Length
          dd.pl-3 #{self.meta.specs.length}mm
        if self.meta.specs.angle
          dt Angle
          dd.pl-3 #{self.meta.specs.angle}&deg;
        if self.meta.specs.radius
          dt Radius
          dd.pl-3 #{self.meta.specs.radius}mm
        if self.meta.specs.top
          dt Top
          dd.pl-3 #{self.meta.specs.top}
        if self.meta.specs.bottom
          dt Bottom
          dd.pl-3 #{self.meta.specs.bottom}
        if self.meta.specs.connector1
          dt Connector 1
          dd.pl-3= self.meta.specs.connector1
        if self.meta.specs.connector2
          dt Connector 2
          dd.pl-3= self.meta.specs.connector2
        if self.meta.specs.connector3
          dt Connector 3
          dd.pl-3= self.meta.specs.connector3
